<!--h1>{{title}}</h1>
<p>Welcome to {{title}}</p-->

<div id="container">
  <header>
    <span>Header</span>
      <nav>
        <ul>
          <li><a href="#">Sobre</a></li>
          <li><a href="#">Home</a></li>
          <li><a href="#">Contatos</a></li>
        </ul>
      </nav>
  </header>
  <main>
    <section id="container02">
      <h1>Sua Lista</h1>
      <div>
        <ul>
          <li><a href="#" title="Click para mais detalhes">Primeiro Item</a> <button>Editar</button> <button>Deletar item</button></li>
        </ul>
        <button>Adicionar um Curso</button>
      </div>
    </section>
  </main>
</div>
