<!--h1>{{title}}</h1>
<p>Welcome to {{title}}</p-->

<div id="container">
  <header>
    <span>Header</span>
      <nav>
        <ul>
          <li><a href="#">Sobre</a></li>
          <li><a href="#">Home</a></li>
          <li><a href="#">Contatos</a></li>
        </ul>
      </nav>
  </header>
  <main>
    <section id="container02">
      <h1>Sua Lista</h1>
      <div id="list">
        <ul>
          <li>primeiro item <button>deletar item</button></li>
        </ul>
      </div>
    </section>
  </main>
</div>
